asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distlib==0.3.9
distro==1.4.0
distro-info==0.23+ubuntu1.1
Django==4.2.20
django-cors-headers==4.4.0
djangorestframework==3.15.2
drf-yasg==1.21.10
filelock==3.16.1
gunicorn==23.0.0
idna==2.8
inflection==0.5.1
packaging==24.2
platformdirs==4.3.6
PyGObject==3.36.0
python-apt==2.0.1+ubuntu0.20.4.1
pytz==2025.2
PyYAML==6.0.2
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
sqlparse==0.5.3
ssh-import-id==5.10
typing-extensions==4.13.2
unattended-upgrades==0.1
UNKNOWN==0.0.0
uritemplate==4.1.1
urllib3==1.25.8
virtualenv==20.30.0
